.home {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 25px;
}

.date-container h2 {
    margin: 0;
    line-height: 1.2;
    /* Adjust line-height to control spacing between lines */
}

.date-container {
    text-align: center;
    margin-bottom: 20px;
}

.text {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

.gras {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 40px;
}

.str{
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
}
.align{
    text-align: center;
    font-size: 1.4em;
    margin-top: 40px;
}
.align p {
    margin: 0;
    line-height: 1.2;
}

.padding{
    padding-bottom: 40px;
}