<ion-content>
  <div class="date-container">
    <div class="home">Home</div>
    <div class="home">Amtsgericht Potsdam</div>
    <h2>{{ date1 }}</h2>
    <h2>{{ date2 }}</h2>
  </div>

  <div class="text">
    <p>Erfasste Schritte</p>
    <span class="gras">{{ schritte }}</span>
  </div>
  <div class="text">
    <p>Teilnehmer in der Dienststelle:</p>
    <span class="gras">{{ teilnehmer }}</span>
  </div>
  <div class="align">
    <p>Insgesamt im Wettbewerb </p><p class="padding">zurückgelegte Strecke:</p>
    <span class="str">{{ strecke }} Km</span>
  </div>
</ion-content>