<div class="container">
  <div class="header">Zeitraum und Schritte eintragen</div>

  <div class="top">
    <ion-button fill="outline">
      <ion-icon slot="start" name="calendar"></ion-icon>
      07.09.2024
    </ion-button> - 
    <ion-button fill="outline">
      <ion-icon slot="start" name="calendar"></ion-icon>
      10.09.2024
    </ion-button>

    <ion-input label="Schritte" label-placement="floating" fill="outline" placeholder="0000"></ion-input>
  </div>

  <div class="button-container">
    <ion-button color="light" (click)="dismiss()">Abbrechen</ion-button>
    <ion-button color="primary" type="submit">Speichern</ion-button>
  </div>

  
  
</div>
