<ion-content class="ion-padding">
  <div class="date-container">
    <div class="home">Statistik</div>
    <div class="wochen">
      <ion-segment value="W1" mode="ios" class="segment-round">
        <ion-segment-button class="segment-button" value="W1">W1</ion-segment-button>
        <ion-segment-button class="segment-button" value="W2">W2</ion-segment-button>
        <ion-segment-button class="segment-button" value="W3">W3</ion-segment-button>
        <ion-segment-button class="segment-button" value="W4">W4</ion-segment-button>
        <ion-segment-button class="segment-button" value="Gesamt">Gesamt</ion-segment-button>
      </ion-segment>
    </div>
  </div>
  <div class="statistics">
    <div>
      <div class="taille">Gesamt</div>
      <div class="bold">70.650</div>
    </div>
    <div>
      <div class="taille">Durchschnitt</div>
      <div class="bold">10.092</div>
    </div>
  </div>

  <div class="chart-container">
    <canvas id="myChart"></canvas>
  </div>

  <h2 class="dienststelle">Position in der Dienststelle:</h2>

  <div class="position">
    <span>6. +210</span>
    <span class="middle">&larr; 7. &rarr;</span>
    <span>8. -458</span>
  </div>
</ion-content>

