<ion-content class="ion-padding">
  <div class="date-container">
    <div class="home">Statistik</div>
    <div class="wochen">
      <ion-button shape="round" size="small">W1</ion-button>
      <ion-button shape="round" size="small" color="light">W2</ion-button>
      <ion-button shape="round" size="small" color="light">W3</ion-button>
      <ion-button shape="round" size="small" color="light">W4</ion-button>
      <ion-button shape="round" size="small" color="light">Gesamt</ion-button>
    </div>
  </div>
  <div class="statistics">
    <div>
      <div class="taille">Gesamt</div>
      <div class="bold">70.650</div>
    </div>
    <div>
      <div class="taille">Durchschnitt</div>
      <div class="bold">10.092</div>
    </div>
  </div>

  <div class="chart-container">
    <canvas id="myChart"></canvas>
  </div>

  <h2 class="dienststelle">Position in der Dienststelle:</h2>

  <div class="position">
    <span>6. +210</span>
    <span class="middle">&larr; 7. &rarr;</span>
    <span>8. -458</span>
  </div>
</ion-content>

