.home {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 25px;
}

.wochen {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ion-segment.segment-round {
    width: 100%;
    justify-content: space-between;
    background-color: transparent;
    padding-bottom: 10px;
  }
  
  ion-segment-button.segment-button {
    flex: 1;
    max-width: 10% !important; /* Ajuste la largeur des boutons */
    margin: 0 2px; /* Espace entre les boutons */
    border-radius: 20px; /* Bords arrondis */
    --border-radius: 20px; /* Bords arrondis */
    --background: #F6F6F6; /* Fond blanc par défaut */
    --background-checked: #0B1463; /* Fond bleu quand sélectionné */
    text-transform: initial;
    --color: black; /* Couleur du texte non sélectionné */
    --color-checked: rgb(255, 255, 255) !important; /* Couleur du texte quand sélectionné */
    --indicator-color: transparent; /* Supprime l'indicateur */
    --border-width: 0; /* Supprime les bordures verticales */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ajoute une ombre */
  }

.taille {
    margin-top: 20px;
    font-size: 1.3em;
}

.bold {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 20px;
}

.statistics {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    text-align: center;
}

.position {
    text-align: center;
    margin-top: 40px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    /* Aligner les éléments verticalement */
    justify-content: center;
    /* Centrer horizontalement */
    width: 100%;
}

.dienststelle {
    text-align: center;
    margin-top: 30px;
}

.position span {
    display: inline-block;
    margin: 0 10px;
}

.chart-container {
    margin-top: 20px;
}

.middle {
    font-size: 1.8em;
    white-space: nowrap;
    font-weight: bold;
}